.card {
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    overflow: hidden;
    width: 300px;
    
}

.card-img img{
    width: 100%;
}

.card-bio {
    padding-left: 10px;
}

.card-bio h1 {
    margin: 0;
    font-weight: 400;
}

.card-bio p {
    margin: 0;
}

.card-actions {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.card-actions button {
    background: none;
    border: 2px solid #DDDDDD;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    height: 3rem;
    width: 3rem;
    outline: 0;
}

.card-actions img {
    vertical-align: middle;
}