.card {
    position: absolute;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #202020;

    background-position: top;
    background-size: cover;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end; 

    width: 320px;
    height: 500px;

}

.card img {
    vertical-align: middle;
}

.card h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
}

.card-content {
    padding: 1rem;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,1));
    color: #DDDDDD
}

.card-subtitle {
    display: flex;
    justify-content: space-between;
}

.card-subtitle button {
    background: none;
    padding: 10px;
    border: none;
    outline: 0;
    cursor: pointer;
}
.card-actions {
    display: flex;
    justify-content: center;
}

.card-actions button {
    background: none;
    border: 2px solid #DDDDDD;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    height: 3rem;
    width: 3rem;
    outline: 0;
}

/*Event handler CSS */

.card.liked {
    animation: liked-shadow 0.5s;
}

.card.disliked {
    animation: disliked-shadow 0.5s;
}

.card.superliked {
    animation: superliked-shadow 0.5s;
}

/*Animations */

.card button:hover {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1)}
    50% { transform: scale(1.2)}
    100% {transform: scale(1)}
}

@keyframes liked-shadow {
    0% { box-shadow: 2px 2px 20px #202020}
    50% { box-shadow: 2px 2px 50px #4bb12c }
    100% { box-shadow: 2px 2px 20px #202020}
}

@keyframes disliked-shadow {
    0% { box-shadow: 2px 2px 20px #202020}
    50% { box-shadow: 2px 2px 50px #ff0000 }
    100% { box-shadow: 2px 2px 20px #202020}
}

@keyframes superliked-shadow {
    0% { box-shadow: 2px 2px 20px #202020}
    50% { box-shadow: 2px 2px 50px #09cfcf }
    100% { box-shadow: 2px 2px 20px #202020}
}