.result-card {
    border-radius: 10px;
    box-shadow: 1px 1px 8px #333;
    margin: 10px;

    background-size: cover;
    background-position: top;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    min-width: 250px;
    min-height: 250px;
}

.result-card-title {
    color: white;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    padding: 10px;
}


.result-card-title h2 {
    margin: 0;
    font-weight: 400;
}